body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif; }

.ir-arriba {
  display: none;
  padding: 20px 20px 10px 20px;
  background: #FB8C00;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px; }

header {
  padding-top: 18px;
  background: #09192e; }
  header .navi {
    text-align: center;
    padding: 35px 0; }
    header .navi a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      margin-left: 15%;
      font-weight: 600;
      font-size: 20px; }
  header .main {
    background: url("../img/1s.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0; }
  header .main {
    padding: 16%;
    margin-top: 10px;
    margin-bottom: 0px; }
    header .main .bordesito {
      padding: 30px;
      border: 2px solid #09192e; }
      header .main .bordesito .primera-linea {
        text-align: center;
        font-weight: 400;
        font-size: 40px; }
      header .main .bordesito .segunda-linea {
        text-align: center;
        font-weight: 300;
        font-size: 30px; }
      header .main .bordesito p .word:before {
        content: '';
        background-color: black;
        width: 1px;
        position: absolute;
        top: 5px;
        bottom: 5px;
        right: 7px; }
