.precios {
  background: url("../img/precios-bg.jpg"), #727171;
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  padding: 70px 0; }
  .precios .titulo {
    margin-bottom: 70px;
    color: #fff;
    font-weight: 300; }
  .precios .plan {
    padding: 35px 0;
    text-align: center; }
    .precios .plan .nombre {
      text-align: center;
      font-size: 28px;
      font-weight: 300; }
    .precios .plan .precio {
      font-size: 40px;
      font-weight: 300; }
    .precios .plan .caracteristicas {
      list-style: none;
      padding: 0 20px;
      margin-bottom: 50px; }
      .precios .plan .caracteristicas li {
        font-size: 18px;
        padding: 15px 0;
        border-bottom: 1px solid #dedede; }
      .precios .plan .caracteristicas .btn {
        width: 70%;
        font-size: 16px;
        padding: 15px 0;
        text-align: center;
        display: inline-block; }
    .precios .plan.verde {
      background: #fff; }
      .precios .plan.verde .precio, .precios .plan.verde .nombre {
        color: #86b773; }
      .precios .plan.verde .btn {
        color: #86b773;
        border: 2px solid #86b773;
        border-radius: 100px; }
        .precios .plan.verde .btn:hover {
          background: #86b773;
          color: #fff; }
    .precios .plan.activo {
      background: #4c8dce;
      color: #fff; }
      .precios .plan.activo .btn {
        color: #fff;
        border: 2px solid #fff;
        border-radius: 100px; }
        .precios .plan.activo .btn:hover {
          background: #fff;
          color: #4c8dce; }
    .precios .plan.naranja {
      background: #fff; }
      .precios .plan.naranja .precio, .precios .plan.naranja .nombre {
        color: #FFD019; }
      .precios .plan.naranja .btn {
        color: #FFD019;
        border: 2px solid #FFD019;
        border-radius: 100px; }
        .precios .plan.naranja .btn:hover {
          background: #FFD019;
          color: #fff; }
