$verde:  #00CC33 ;
$crema: #fff ;
$gris: #f2f3f4 ;
$naranja: #ff5722 ;
$amarillo:   #FFFF00   ;
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.ir-arriba{
  display: none;
  padding: 15px 20px 10px 20px;
  background: $naranja;
  font-size: 20px;
  color:#fff;
  cursor:pointer;
  position:fixed;
  bottom:20px;
  right:20px;
  border-radius: 50%;
  z-index: 100;

    &:hover{

    }

  }
  header{
    background: $crema;
    nav{
      padding: 10px 0;
      text-align: right;
      color: #fff;
      a{
        color: #fff;
      }
      button{
        color: #fff;
      }

    }
    .entrada{
      text-align: center;
      margin: auto;
      padding: 20px;
      h2{
        font-size: 1.8em;
        font-weight: 600;
        text-shadow: 4px 4px 4px #aaa;
      }
      p{
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        font-style: italic;
      }
    }
  }


  main{
    .presentacion{
      background:$verde;
      text-align: center;
      padding: 20px;
      .titulo{
        padding: 1em ;
        margin-bottom: 1em;
        color:$amarillo;
        font-weight: 300;

      }
      .descripcion{
        margin: auto;
        padding: 10px 5em;
        color: #fff;
        text-align: center;
      }
      h1{
        margin: auto;
        vertical-align: middle;
      }
      .card{
        margin: 20px;
        padding: 1em;
        height: 360px;
        padding: 20px;
        border: none;
        vertical-align: middle;
        background: rgba(255,255,255,.6);
        border-radius: 20px;
        .sub-card{
          height: 100%;
        }
        .card-descripcion{
          margin: auto auto ;
          font-size: 1.2em;
          font-weight: 300;
          padding: 1.2em;
          vertical-align: middle;
        }
        .todito{
          .galeria{
            border-radius: 20px;
            box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, .6);
            .foto{
              height: 100%;
              align-items: center;
              align-content: center;
              img{
                height: 100%;
                width: 100%;
              }
            }
          }
        }

      }
    }


    .galeria2{
      padding: 30px;
      margin-bottom: 50px;
      .titulo{
        padding: 2em ;
        margin-bottom: 1em;
        color:$naranja;
        font-weight: 300;
        text-align: center;
      }
      .fotos{
        height: 100%;
        margin-bottom: 10px;
        .material-placeholder{
        height: 100%;
        margin: 10px;
        cursor: pointer;
          img{
            width: 100%;
            border-radius: 20px;
          }
        }
      }
    }

    .precios{
      background: #ccc;
    }


    .ubicacion{
      padding: 50px;
      text-align: center;
      .titulo{
        font-size: 2em;
        font-weight: 300;
        color: $naranja;
        margin-bottom: 50px;

      }
      .descripcion{
        margin: auto;
        text-align: center;
        h3,h4{
          font-weight: 300;
        }
      }
      iframe{
        width: 100%;
      }
    }
  }

footer{
  background: $verde;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
}

  @media screen and (max-width:996px){



    main{
      .presentacion{
        .descripcion{
          padding: 10px 2em;
        }
        .card{
          height: 270px;
        }
      }
    }
  }

  @media screen and (max-width:759px){

    header{
      nav{
        text-align: center;
        padding: 10px 0;
        a{
          font-size: 1em;
        }
      }
    }


    main{
      .presentacion{
        .descripcion{
          padding: 10px 2em;

        }
        .card{
          height: 418px;
        }
      }
      .ubicacion{
        .descripcion{
          h3{
            font-size: 1.7em;
          }
          h4{
            font-size: 1em;
          }
        }
      }
    }
  }
