$verde:  #34bf49 ;
$crema: #fff ;
$gris: #f2f3f4 ;
$naranja: #ff5722 ;
$naranja_oscuro:    #f4511e  ;
$amarillo:   #FFFF00   ;
*{
  margin: 0;
  padding: 0;
}
.ir-arriba{
  display: none;
  padding: 15px 20px 10px 20px;
  background: $naranja;
  font-size: 20px;
  color:#fff;
  cursor:pointer;
  position:fixed;
  bottom:20px;
  right:20px;
  border-radius: 50%;
  z-index: 100;

    &:hover{
      background: $naranja_oscuro;
    }

  }
  header{
    background: $crema;
    nav{
      font-family: 'Roboto', sans-serif;
      padding: 10px 0;
      color: #fff;
      font-size: 1.3em;
      a{
        color: #fff;
        border-bottom: 1px solid transparent;
        &:hover{
          color:$amarillo;
          border-bottom: 1px solid $amarillo;
        }
      }
      button{
        color: #fff;
      }

    }
    .entrada{
      text-align: center;
      margin: auto;
      padding: 20px;
      h2{
        font-family: 'Playfair Display', serif;
        font-size: 1.8em;
        font-weight: 600;
        text-shadow: 0px 0px 0px #aaa;
        color: $verde;
      }
      p{
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        font-style: italic;
      }
    }
  }


  main{
    .presentacion{
      background:$verde;
      text-align: center;
      padding: 20px;
      .titulo{
        font-family: 'Playfair Display', serif;
        padding: 1em ;
        margin-bottom: 1em;
        color:$amarillo;
        font-weight: 400;

      }
      .descripcion{
        font-family: 'Roboto', sans-serif;
        margin: auto;
        padding: 10px 5em;
        color: #fff;
        text-align: center;
      }
      h1{
        margin: auto;
        vertical-align: middle;
      }
      .card{
        font-family: 'Roboto', sans-serif;
        margin: 20px;
        padding: 1em;
        height: 360px;
        padding: 20px;
        border: none;
        vertical-align: middle;
        background: rgba(255,255,255,.6);
        border-radius: 20px;
        .sub-card{
          height: 100%;
        }
        .card-descripcion{
          margin: auto auto ;
          font-size: 1.2em;
          font-weight: 300;
          padding: 1.2em;
          vertical-align: middle;
        }
        .todito{
          .galeria{
            border-radius: 20px;
            box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, .6);
            .foto{
              height: 100%;
              align-items: center;
              align-content: center;
              img{
                height: 100%;
                width: 100%;
              }
            }
          }
        }

      }
    }


    .galeria2{
      padding: 30px;
      margin-bottom: 50px;
      .titulo{
        font-family: 'Playfair Display', serif;
        padding: 2em ;
        margin-bottom: 1em;
        color:$naranja;
        font-weight: 400;
        text-align: center;
      }
      /* ------------------------- */
      /* Estilos CSS del Reproductor */
      /* ------------------------- */

      .fm-video {
        width: 100%;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
      }

      .fm-video .vjs-control-bar {
        background: #F4F4FA;
        color: $verde;
      }

      .fm-video .vjs-play-progress,
      .fm-video .vjs-volume-level {
        background: $verde;
      }

      .fm-video .vjs-slider {
        background: $verde;
      }

      .video-js:hover .vjs-big-play-button {
        background: rgba(0,0,0,.4);
      }

      .fm-video .vjs-big-play-button {
        background: rgba(0,0,0,.4);
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 100%;
        border: none;
      }

      .fm-video .vjs-big-play-button:hover {
        background: rgba(0,0,0,.7);
      }

      //fiiiiiiiiinnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn
      .ver-mas{
        padding: 10px;
        margin-bottom: 20px;
        a{
          background: $naranja;
          padding: 20px;
          color: #fff;
          border-radius: 50px;

          &:hover{
            text-decoration: none;
            background: $naranja_oscuro;

          }
        }
      }
      .fotos{
        height: 100%;
        margin-bottom: 10px;
        margin-top: 20px;
        .material-placeholder{
        height: 100%;
        margin: 10px;
        cursor: pointer;
          img{
            width: 100%;
            border-radius: 20px;
            z-index: 10;
          }
        }
      }
    }

    .precios{
      background: #ccc;
    }


    .ubicacion{
      padding: 50px;
      text-align: center;
      .titulo{
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        font-weight: 400;
        color: $naranja;
        margin-bottom: 50px;

      }
      .descripcion{
        font-family: 'Roboto', sans-serif;
        margin: auto;
        text-align: center;
        h3,h4{
          font-weight: 300;
        }
      }
      iframe{
        width: 100%;
      }
    }
  }

footer{
  font-family: 'Playfair Display', serif;
  background: $verde;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  padding: 10px;
}

  @media screen and (max-width:996px){



    main{
      .presentacion{
        .descripcion{
          padding: 10px 2em;
        }
        .card{
          height: 270px;
        }
      }
    }
  }

  @media screen and (max-width:759px){

    header{
      nav{
        text-align: center;
        padding: 10px 0;
        a{
          font-size: 1em;
        }
      }
    }


    main{
      .presentacion{
        .descripcion{
          padding: 10px 2em;

        }
        .card{
          height: 418px;
        }
      }
      .ubicacion{
        .descripcion{
          h3{
            font-size: 1.7em;
          }
          h4{
            font-size: 1em;
          }
        }
      }
    }
  }
