$verde: #279b37;
$verdeClaro: #34bf49;
$azul-claro:#a9eee6;
$crema:#fefaec;
$salmon:#f38181;
$morado:#625772;



/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 700;
    color: orange;
}
.texto-verde {
    font-weight: 700;
    color: $verde;
}
.texto-verde-claro {
    font-weight: 700;
    color: $verdeClaro;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
    text-shadow: 6px 6px 6px #000;
    font-style: italic;
    font-size: 26px;
}

.grande{
  font-size: 36px;
  text-shadow: 6px 6px 6px #000;
}

.texto-negro {
	color: #000;
}

// clases de fullPage
#fp-nav{
  ul{
    li{
      a{
        span{
          background: orange;
          text-shadow: 6px 6px 6px #000;
        }
      }

      .fp-tooltip{
        color: orange;

      }
    }
  }
}


// menu de navegacion

.nav{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 70;
  width: 100%;
  padding: 10px 20px;
  background: rgba(0, 0, 0, .3);
  ul{
    margin: 0;
  }
  li, a{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #fff;
    transition: .5s ease;

  }
  li{
    &.active{
      border-bottom: 2px solid orange;

    }
  }
}

.menu{
  li{
    a{
      transition: .5s ease;
      margin:0;
      padding: 0;
    }
    &.active, &:hover{
      a{
        color: orange;
        text-decoration: none;
      }
    }
  }
}


/* ----------------------
    HEADER
  --------------------------*/

  .header{
    background: url('../media/casa.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .contenedor-titulo{
      text-align: center;
      position: relative;
      z-index: 99;
      font-family: 'Playfair Display', sans-serif;
    }
    .titulo{
      font-size: 70px;
      text-align: center;
      text-shadow: 6px 6px 6px #000;

    }
    .contenedor-icono{
      position: absolute;
      z-index: 99;
      bottom: 3%;
      left: 47%;
      font-size: 40px;
      animation: bajar-subir 1s ease infinite;
      p{
        a{

          &:hover{
            color:orange;
            text-decoration: none;
          }
        }
      }
    }
  }

  @keyframes bajar-subir{
    0%{ transform: translateY(20px);}
    25%{ transform: translateY(0);}
    100%{ transform: translateY(20px);}
  }



  .productos{
    article{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      &:nth-child(2){
        background-image: url('../media/amanecer2.JPG');
      }
      &:nth-child(1){
        background-image: url('../media/piscina5.JPG');
      }
      &:nth-child(3){
        background-image: url('../media/comida.JPG');
      }
      &:nth-child(4){
        background-image: url('../media/parque4.JPG');
      }
      &:nth-child(5){
        background-image: url('../media/piscina2.jpeg');
      }
      &:nth-child(6){
        background-image: url('../media/cabalgata.JPG');
      }
    }
    .informacion-producto{
      margin: 0 30px;
      width: 330px;
      &:before{
        content: "";
        height: 50px;
        width: 2px;
        display: inline-block;
        background: orange;
        position: absolute;
        top: 50%;
        margin:-10px;
      }
    }
    .modelo{
      font-size: 45px;
      text-shadow: 6px 6px 6px #000;
    }
    .descripcion{
      font-size: 22px;
      color: #fff;
      width: 100%;
      text-shadow: 6px 6px 6px #000;
    }
  }



  // FLECHAS DEL slide
  .fp-controlArrow.fp-next,.fp-prev{
    top: 95%;
  }

  .fp-controlArrow.fp-prev{
    left: 80%;
    border-width: 20px 20px 20px 0;
    border-color: transparent orange transparent transparent;
  }

  .fp-controlArrow.fp-next{
    right: 50px;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent orange;
  }

  // Precios---------------------------------------------------------------

  .precios{
    background-image:  url('../media/piscina2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .cabeza{
      background: orange;
      box-shadow: 10px 10px 10px #000 ;
      height: 30vh;
      color:#fff;
      text-align: center;
      padding: 30px;
      margin-top: 70px;;
      margin-bottom: 30px;
      p{
        font-size: 28px;
        font-weight: 400;
      }
      .mini{
        font-size: 23px;
        font-weight: 300;
      }
    }
    .cuerpo{
      height: 300px;
      .card{
        height: 100%;
        background: $crema;
        box-shadow: 10px 10px 10px #000 ;
        h4,h5,h6{
          padding: 10px;
        }
        h4{
          font-weight: 400;
          font-size: 35px;
        }
        h5{
          font-size: 28px;
          color: orange;
          &::before{
            content:"$ ";
          }
        }
        h6{
          font-size: 20px;
        }

      }
    }

  }




  // UBICACION--------------------------------------------------------------
  .ubicacion{
    padding-bottom: 0px;
    position: relative;
    .titulo{
      font-family: 'Playfair Display', serif;
      font-size: 2em;
      font-weight: 400;
      color: #000;
      margin-bottom: 20px;
    }
    .descripcion{
      font-family: 'PlayFair Display', sans-serif;
      margin: auto;
      text-align: center;
    }
    iframe{
      width: 100%;
    }
    .foooter{
      background:#000;
      position: absolute;
      font-weight: 300;
      font-size: 22px;
      width: 100%;
      bottom: 0px;
      h2{
        color:#fff;
        padding: 10px;
      }
    }
  }



  // MEDIA QUERYS-----------------------------------------------------------------
  @media screen and(max-width: 768px){
    .menu li a,
    .menu, li.active a{
      font-size: 18px;
    }
    .modelo{
      font-size: 40px;
    }
    .precios{
      .cabeza{
        margin-top: -110px;
        margin-bottom: 30px;
        height: 20vh;
        p{
          font-size: 25px;
        }
        .mini{
          font-size: 20px;
        }
      }
      .cuerpo{
        .card{
          height: 100%;
          h4{
            font-size: 30px;
          }
        }
      }
    }
  }

  @media screen and(max-width:576px){
    .nav{
      li,a{
        margin:8px;
      }
    }
    header{
      .titulo{
        font-size: 60px;
      }
    }
    .productos{
      .informacion-producto{
        position: absolute;
        top: 55%;
      }
    }
    .productos{
      .descripcion{
        color: #fff;
      }
    }
    .fp-controlArrow.fp-prev{
      left: 40px;
    }
    .ubicacion{
      .titulo{
        margin-bottom: 10px;
        margin-top: 100px;
      }
      .descripcion{
        h4{
          font-size: 18px;
        }
      }
    }

    .precios{
      .cabeza{
        margin-top: 20px;
        margin-bottom: 15px;
        height: 30vh;
        padding: 10px;
        p{
          font-size: 19px;
        }
        .mini{
          font-size: 16px;
        }
      }
      .cuerpo{
        .card{
          height: 100%;
          margin-top: 5px;
          h4,h5,h6{
            padding: 1px;
          }
          h4{
            font-size: 22px;
          }
          h5{
            font-size: 20px;
          }
          h6{
            font-size: 18px;
          }
        }
      }
    }
  }

  @media screen and(max-width:330px){
    .nav{
      li,a{
        margin:3px;
        font-size: 9px;
      }
    }
    header{
      .titulo{
        margin-top: 10px;
        line-height: 30px;
        span{
          font-size: 40px;
        }
      }
      .grande{
        font-size: 25px;
      }
      .pequeno{
        font-size: 20px;
      }
    }

    .productos{
      .informacion-producto{
        width: 280px;
        top:50%;
      }
      .modelo{
        font-size: 25px;
      }
      .descripcion{
        font-size: 16px;
      }
    }

    .ubicacion{
      .titulo{
        margin-bottom: 5px;
        margin-top: 50px;
      }
      .descripcion{
        h4{
          font-size: 15px;
        }
      }
    }

    .precios{
      padding-top: 20px;
      .cabeza{
        margin-top: 50px;
        margin-bottom: 1px;
        height: 25vh;
        padding: 10px;
        line-height: 18px;
        p{
          font-size: 18px;
          line-height: 13px;
          margin-bottom: 5px;
        }
        .mini{
          font-size: 16px;
        }
      }
      .cuerpo{
        .card{
          height: 100%;
          margin-top: 1px;
          h4,h5,h6{
            padding: 0px;
          }
          h4{
            font-size: 16px;
          }
          h5{
            font-size: 13px;
          }
          h6{
            font-size: 11px;
          }
        }
      }


    }
    .ubicacion{
      .titulo{
        font-size: 18px;
      }
      h3{
        font-size: 14px;
      }
      iframe{
        height: 100%;
      }
    }
  }
