$verde: #009432;
.ir-arriba{
    display: none;
    padding: 15px 20px 10px 20px;
    background: #2ecc71;
    font-size: 20px;
    color:#fff;
    cursor:pointer;
    position:fixed;
    bottom:20px;
    right:20px;
    border-radius: 50%;
    z-index: 100;

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  body{
    font-family: 'Montserrat', sans-serif;
    background: #000;
  }

  .titulo{
    color:$verde;
    font-size: 1.85em;
    text-align: center;
    margin-bottom: 2em;
  }

  //-------------------------------------------HEADER--------------------------

  header{
      width: 100%;
      height: 92vh;
      background: -webkit-linear-gradient(left, rgba(46, 204, 113,.8), rgba(52, 152, 219,.8)), url(../img/portada.jpg);
      background: -o-linear-gradient(left, rgba(46, 204, 113,.8), rgba(52, 152, 219,.8)), url(../img/portada.jpg);
      background: linear-gradient(to right, rgba(46, 204, 113,.8), rgba(52, 152, 219,.8)), url(../img/portada.jpg);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background-size: cover;
      background-attachment: fixed;
      position: relative;
      nav{
        text-align: right;
        padding: 1.85em 2.3em 0 0;
        a{
          color: #fff;
          font-weight: 300;
          text-decoration: none;
          font-size: 1.25em;
          margin-right: 1em;
          &:hover{
            text-decoration: underline;
            color: #fff;
          }
        }
      }
      .wave{
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .textos-header{
        padding-top: 10em;
        height: 25em;
        width: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h1{
          font-size: 3em;
          color: #fff;
        }
        h2{
          font-size: 2em;
          color: #fff;
        }
      }
    }
  main{
    .sobre-nosotros{
      .contenido-textos{
        width: 100%;
        h3{
          margin-bottom: 1em;
          span{
            background: $verde;
            color:#fff;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            width: 1.3em;
            height: 1.3em;
            padding: 2px;
            padding-top: 0px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
            margin-right: 5px;
          }
        }
        p{
          padding: 0 0 2em 1em;
          font-weight: 300;
          text-align: justify;
        }
      }
      .contenedor-sobre-nosotros{
        display: flex;
        justify-content: space-between;
        .imagen-about-us{
          width: 100%;
        }
      }
    }

    // -----------------------PORTAFOLIO------------------------
    .portafolio{
      background: #f2f2f2;
      padding: 20px 0 ;
      margin-top: 10px;

      .galeria-port{
        .imagen-port{
          width: 100%;
          margin-bottom: 30px;
          overflow: hidden;
          position: relative;
          cursor: pointer;
          img{
            width: 100%;
            height: 100%;
          }
          .hover-galeria{
            position: absolute;
            width: 90%;
            height: 100%;
            top:0;
            transform: scale(0);
            background: rgba(46, 204, 113,.6);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
              width: 50px;
              height: 50px;
            }
            p{
              color: #fff;
            }
          }
          &:hover{
            .hover-galeria{
              transform: scale(1);
            }
          }
        }
      }
    }

    // clientes
    .clientes{
      padding: 3em;
      margin-bottom: 20px;
      .cards{
        padding: 20px;
        .card{
          background: $verde;
          height: 100%;
          align-items: center;
          border-radius: 5px;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
          text-align: center;
          margin-bottom: 15px;

          img{
            width: 90px;
            height: 90px;
            object-fit: cover;
            border: 2px solid #fff;
            border-radius: 50%;
          }
          .contenido-texto-card{
            width:100%;
            color: #fff;
            p{
              font-weight: 300;
              padding-top: 5px,
            }
          }
        }
      }
    }


    // about us
    .about-services{
      background: #f2f2f2;
      padding: 3em;
      .servicio-cont{
        .servicio-ind{
          width: 100%;
          margin: auto auto;
          img{
            width: 90%;
          }
          h3{
            text-align: center;
            margin: 1em 0;
          }
          p{
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }
  }


      footer{
        background: #414141;
        padding: 60px 0 30px 0;
        text-align: center;
        .content-foo{
          padding: 20px;
          padding-bottom: 20px;

          h4{
            color: #fff;
            border-bottom: 2px solid $verde;
            padding-bottom: 5px;
            margin-bottom: 10px;
          }
          p{
            color:#fff;
          }
        }
        .titulo-final{
          padding-top: 1em;
          color: #fff;
          font-size: 1em;
        }
      }

// media querys
@media screen and (max-width:996px){
  header{
    nav{
      text-align: center;
    }
  }
}

@media screen and (max-width:668px)
{
  header{
    nav{
    padding-right: 0;
    padding-left: 5px;
    }
    .textos-header{
      padding-top: 5.2em;
      h1{
        font-size: 2.5em;
      }
      h2{
        font-size: 1.5em;
      }
    }
  }
}
